<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quran" href="/tabs/quran">
      <ion-icon name="book"></ion-icon>
      <ion-label>Al-Qur'an</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dzikir" href="/tabs/dzikir">
      <ion-icon name="radio-button-on"></ion-icon>
      <ion-label>Dzikir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qibla" href="/tabs/qibla">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Kiblat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Pengaturan</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>